.dash{
    width: 100%;
    height: 100%;
    background-color: rgba(204, 204, 204, 0.397);
    display: flex;
    flex-direction: column;
    font-size: 1rem !important;
    
}
.content{
    width: 95%;
    height: 90%;
    margin: auto;
    /* background-color: rgb(141, 64, 77); */
}
.dash-header{
    width: 100%;
    height: 10%;
    /* background-color: yellow; */
    display: flex;
}
.dash-home {
    width: 100%;
    height: 100px;
    display: flex;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.514);
}
.dash-home > h3 {
    margin: auto;
    margin-left: 20px;
}
.dash-home>h3 >span {
    background: linear-gradient(to right, #da8cff, #9a55ff) !important;
    margin-right: 20px;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
}

.sec-row {
    width: 100%;
    height: 250px;
    /* background-color:red; */
    display: flex;
}
.box-1{
    width: 33%;
    height: 100%;
    margin: auto;
    /* background-color: pink; */
    display: flex;
}
.card-1{
    width: 86%;
    height: 75%;
    background: linear-gradient(to right, #ffbf96, #fe7096) !important;
    margin: auto;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}
.two{
    background: linear-gradient(to right, #90caf9, #047edf 99%) !important;
}
.three{
    background: linear-gradient(to right, #84d9d2, #07cdae) !important;
}
.bc-contant{
    width: 70%;
    height: 70%;
    margin: auto;
    margin-bottom: 15px;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    color: #fff;

}
.bc-contant > img {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.time-ago{
    width: 100%;
    font-size: 1em;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 100;
    /* height: calc(100%/3); */
    position: relative;
}
.num-of-order {
    width: 100%;
    font-size: 1.8em;
    font-weight: 100;
    letter-spacing: 2px;
    /* height: calc(100%/3); */
}
.increared {
    width: 100%;
    margin: auto;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 2px;
    /* background-color: #fff; */
    /* height: calc(100%/3); */
}
.time-ago >i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
}

/* ! *************second-row*********** */

.second-row{
    width: 94%;
    height: 100%;
    margin: auto;
    /* background-color: red; */
    display: flex;
    padding: 20px auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.column-1{
    width: 25%;
    height: ;
    /* background-color: #538; */

}
.sec-col-1-card {
    width: 85%;
    height: 200px;
    margin: auto;
    background-color:rgba(255, 255, 255, 0.493);
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
    border-radius: 5px;
}
.card-element{
    width: 90%;
    height: 80%;
    margin: auto;
    display: flex;
    /* background-color: green; */
}
.sub-element{
    width: 80%;
    height: 80%;
    margin: auto;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}
.mini-sub {
    width: 100%;
    height: 50%;
    display: flex;
    /* background-color: purple; */
}

.element-icon{
    width: 30%;
    height: 100%;
    /* background-color: #da8cff; */
    display: flex;
}
.element-icon > i{
    margin: auto;
    font-size: 2.3em;
    color: #fe7096;
}
.yellow{
    color: #fed713 !important;
}
.green{
    color: #1bcfb4 !important;
}
.light-color {
    color: #047edf !important;
}
.element-text{
    width: 70%;
    height: 100%;
    margin: auto;
    /* background-color: #ffbf96; */
    display: flex;
}
.element-text > span {
    margin: auto;
}
.num{
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 0;
}
.sub-element-2 {
    width: 100%;
    height: 50%;
    /* background-color: rgb(252, 143, 34); */
    display: flex;
}
.ele-icon {
    width: 80%;
    height: 60%;
    margin: auto;
    line-height: 20px;
    /* background-color: red; */
    color:rgba(0, 0, 0, 0.493)

}
.ele-icon > span {
    margin: auto;
}